nav.bg-light {
  background-color: white !important;
}

.logo-navbar{
  height: 40px;
  
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

a.nav-link {
}

a.active-link {
  color: rgb(3, 175, 255) !important;
}


