.about-us-home{
    max-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;


    &-data{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0;

        h2{
            color: rgb(0, 149, 255);
            font-weight: bold;
            margin-bottom: 20px;
        }

        p{
            font-size: medium;
            font-weight: 700;
        }

        &-col{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


.about-stats{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center !important;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    border-color: transparent;
    margin: 0;

    &-col{
        display: flex;
        justify-content: center;
    }

    &-card{
        width: 18rem;
        margin: 10px;
        border-radius: 10px !important;
        box-shadow: 5px 10px 20px 1px rgba(0,0,0,.2) !important;
        -webkit-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.2) !important;
        &:hover{
            transition: all 0.3s ease-in !important;
            box-shadow: 5px 10px 20px 1px rgba(0,0,0,.45) !important;
            -webkit-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.45) !important;
            -moz-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.45) !important;
        }
    }

}