.about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;

    &-description{
        width: 80% !important;
    }
}

.about-stats{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;

    &-col{
        display: flex;
        justify-content: center;
    }

    &-card{
        width: 18rem;
        margin: 10px;
        border-radius: 10px !important;
        box-shadow: 5px 10px 20px 1px rgba(0,0,0,.2) !important;
        -webkit-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.2) !important;
        &:hover{
            transition: all 0.3s ease-in !important;
            box-shadow: 5px 10px 20px 1px rgba(0,0,0,.45) !important;
            -webkit-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.45) !important;
            -moz-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.45) !important;
        }
    }

}