.overlay-banner{
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}   

.video-banner{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: auto;
    left: 0;
    z-index: -1;
}

.content-banner{
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: white;

    }
}