
.awards-card{
    background-color: rgb(255, 255, 255) !important;
    padding: 0 !important;
    width: 95vw;
    border-color: transparent;
    min-height: 100vh;

    &-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }

    &-row{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // &-col{
    //     width: 90%;
    // }
}

//Nav vehicules
.award-item{
    background-color: rgba(255, 255, 255, 0.2);
    .nav-link{
        color: black;
        background-color: rgba(255, 255, 255, 0.3);

        &:hover{
            color: white;
            background-color: lightgray;
        }
    }
}

//Vehicule Image
.award-card{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border-color: transparent !important;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,.35) !important;
    -webkit-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.35) !important;
    -moz-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.35) !important;

    img{
        max-height: 90%;
        max-width: 90%;
    }
}

//Vehicules data
.award-data{
    max-height: 90%;
    max-width: 90%;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &-stats{
        max-height: 80%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        h2, p{
            text-align: center;
        }

        h2{
            font-weight: bold;
            margin-bottom: 20px;
        }

        P{
            font-size: medium;
            font-weight: normal;
        }

        ul{
            list-style: none;
            li{
                font-family: Arial, Helvetica, sans-serif;
                font-size: large;
                font-weight: normal;
                margin-top: 6px;
            }   
        }

        &-year-2020{
            font-weight: bolder;
            color: rgb(0, 149, 255);
            text-decoration: underline;

        }

        &-year-2021{
            font-weight: bolder;
            color: rgb(0, 149, 255);
            text-decoration: underline;
        }

    }

    &-button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10%;
    }
}

a.nav-link.active{
    background-color: rgba(0, 0, 0, 0.30) !important;
    color: white !important;
}

@media (max-width: 900px) {
    .award-card{
        height: 90% !important;
    }
}
