.carousel-item-member{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .info-modal{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;

        .member-info-card{
            height: 100vh;
            width: 60vh;
            h1{
                color: black;
            }
            box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.50) !important;
            -webkit-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.50) !important;
            -moz-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.50) !important;
        }
    }

    .member-img{
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            max-height: 50vh;
            max-width: 50vh;
            margin-right: 30px;
            border-radius: 10px;
            box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.50) !important;
            -webkit-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.50) !important;
            -moz-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.50) !important;
        }
    }
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: rgba(255, 255, 255, 0.3);
    height: 50px;
    border-radius: 80px;
}

//Contacto en tarjeta
.member-contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    span {
        margin-top: 10px;
        padding: 5px 8px;
        border-radius: 5px;
    }
}

//Redes Sociales en tarjeta
.member-social-media{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    a {
        margin-right: 10px;
        padding: 5px 8px;
        border-radius: 5px;
    }

}