
//Team
div.carousel{
    height: 100% !important;
    width: 100% !important;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;

    video{
        max-height: 100% !important;
        width: 100% !important;
        z-index: -1;
    }
}

.overlay-area-home{
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    padding: 0 !important;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.carousel-inner{
    width: 100% !important;
    height: 100% !important;
}

div.carousel-caption{
    height: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;

    h3, p{
        color: white !important;
        padding-top: 30px;
    }

    p{
        font-size: 15px;
        font-weight: normal;
        padding-top: 0px;
        padding-bottom: 20px;
    }
}

@media (max-width: 400px) {
    div.carousel-caption{
        height: 100%;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start;
        align-items: center;
    
        h3, p{
            color: white !important;
            padding-top: 30px;
        }
    
        p{
            font-weight: normal;
            font-size: 12px;
            padding-top: 0px;
            padding-bottom: 20px;
        }
    }
  }