.social-media{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    a {
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px 8px;
        color: white;

        .svg-inline--fa{
            height: 3vh;
        }
    }

}