//Estilos banner
.main-banner {
    height: 100vh;
    width: 100%;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        font-weight:700;
        font-size: 50px;
        color: white;

    }

    p{
        color: white;
        font-size: 25px;
    }
}

//logo
.logo{
    width: 50%;
    padding-bottom: 30px;
}


//headers
.home-header{
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2{
        //color: rgb(0, 149, 255) !important;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
}

@media (max-width: 900px) {
    .home-header{
        height: 10vh;
    }
  }

