@import "~bootstrap/scss/bootstrap";

.col-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center !important;
}

.col-md-3{
    display: flex;
    justify-content: center;
}

//Division de areas
.division{
    position: static;
    height: 5vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: white;
}

@media (max-width: 900px) {

    .division{
        height: 2vh;
    }
}

  .btn-primary{
    background-color: rgb(0, 149, 255) !important;
    border-color: rgb(0, 149, 255) !important;
  }

//Contenedor con efecto parallax
.react-parallax{
    width: 100vw;
    position: static;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


//Contenido de la pagina
.content{
    position: absolute !important;
    top: auto;
    left: 0;
    width: 100vw;
    height: 100%;
}


.hover-effect{
    width: 98vw;
    border-color: transparent;
    background-color: white;
    max-height: 300%;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px !important;
    overflow: hidden !important;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,.2) !important;
    -webkit-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.2) !important;

    &:hover{
        transform: scale(1.02);
        transition: all 0.3s ease-in !important;
        box-shadow: 5px 10px 20px 1px rgba(0,0,0,.45) !important;
        -webkit-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.45) !important;
        -moz-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.45) !important;
    }

}

//transitions
.fade-enter{
    opacity: 0;
    transform: translateX(-100%);
  }
  .fade-enter-active{
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-exit{
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-exit-active{
    opacity: 0;
    transform: translateX(100%);
  }
  .fade-enter-active,
  .fade-exit-active{
    transition: opacity 600ms, transform 600ms;
  }

  .my-node-enter {
    opacity: 0;
  }
  .my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .my-node-exit {
    opacity: 1;
  }
  .my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }