aside{
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 6rem;
    margin-top: 10vh;
    height: 80vh;
    background-color: #0039e4;
    position: fixed;
    color: white;
    z-index: 0;
    align-items: center;
    text-align: center;
    padding: 0 1rem;

    .sc-icon{
        position: absolute;
        top: calc(17vh);
        left: calc(50% - 4rem);

        ul{
            list-style: none;
        }

        li{
            margin-bottom: 1.5rem;
        }

        a{
            font-size: 3rem;
            margin-top: 2rem;
            color: #bbb;

            &:hover{
                color: #fff;
                border-radius: 1rem;
                transform: translateY(-1rem);
                transition-duration: 0.5s;
            }
        }
    }
}




// aside {
//     display: none;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     -webkit-box-pack: justify;
//     -ms-flex-pack: justify;
//     justify-content: space-between;
//     width: 6rem;
//     margin-top: 10vh;
//     height: 80vh;
//     background-color: #0039e4;
//     position: fixed;
//     color: white;
//     z-index: 0;
//     align-items: center;
//     text-align: center;
//     padding: 0 1rem;
//   }
  
//   aside .sc-icon {
//     position: absolute;
//     top: 20vh;
//     left: calc(50% - 4rem);
//   }
  
//   .sc-icon ul {
//     list-style: none;
//   }
  
//   .sc-icon li {
//     margin-bottom: 1.5rem;
//   }
  
//   .sc-icon a {
//     font-size: 3rem;
//     margin-top: 2rem;
//     color: #bbb;
//   }
  
//   .sc-icon a:hover {
//     color: #fff;
//     border-radius: 1rem;
//     transform: translateY(-1rem);
//     transition-duration: 0.5s;
//   }
  
  @media (min-width: 991px) {
    header .navigation-block,
    .footer-sc-icon,
    .p-init-block {
      display: none;
    }
  
    main {
      margin-left: 11rem;
    }
  
    aside {
      display: -webkit-box;
      display: -ms-flexbox;
      display: block;
    }
  }
  