.sponsor-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 15rem;
    margin-bottom: 20px;
    margin-top: 15px;
    border-radius: 10px !important;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,.2) !important;
    -webkit-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.2) !important;
    &:hover{
        transform: scale(1.02);
        transition: all 0.3s ease-in !important;
        box-shadow: 5px 10px 20px 1px rgba(0,0,0,.5) !important;
        -webkit-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.5) !important;
        -moz-box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.5) !important;
    }

    &-body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    &-logo{
        max-width: 9rem;
        max-height: 9rem;
    }
}

@media (max-width: 950px) {
    .sponsor-card{
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width: 300px) {
    .sponsor-card{
        width: 7rem;
        height: 7rem;

        &-logo{
            max-width: 5rem;
            max-height: 5rem;
        }
    }
}

.see-more-card{
    background-color: rgb(0, 145, 255) !important;
    color: white;

    &:hover{
        cursor: pointer;
    }

    .btn-primary{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        background-color: transparent !important;
        border-color: transparent;
    }
}